body {
  background-color: #222222;
  color: white;
  font-family: sans-serif;
}

#main {
  margin: auto;
  width: 600px;
}

#header {
  text-align: center;
  font-size: large;
  text-decoration: underline;
}

.buttonField {
  display: flex;
}

.buttonArea {
  width: 210px;
  margin:  0 auto;
}

.outputArea {
  text-align: center;
}

#kekka {
  width: 400px;
  height: 330px;
}

#preview {
  background-color: gray;
  width:500px;
  height:200px;
}

.make1 a{
  width: 180px;
  padding:15px;
  color:#ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  background: #1B73BA;
  display: block;
  position:relative;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow:0px 15px 30px -15px rgba(0,0,0,0.3);
  -moz-box-shadow:0px 15px 30px -15px rgba(0,0,0,0.3);
  box-shadow:0px 15px 30px -15px rgba(0,0,0,0.3);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.make1 a:hover{
  opacity:0.7;
}


.getelo a{
  width: 100%;
  padding:15px;
  color:#ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background: #FF9C15;
  display: block;
  position:relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.getelo a::before{
  content: '';
  width: 16px;
  height: 16px;
  margin:-8px 0 0 0;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background: #fff;
  position:relative;
  position:absolute;
  top:50%;
  left:20px;
  display:block;
}
.getelo a::after{
  content: '';
  width: 4px;
  height: 4px;
  border: 0px;
  margin:-3px 0 0 0;
  border-top: solid 2px #FF9C15;
  border-right: solid 2px #FF9C15;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position:absolute;
  top:50%;
  left:24px;
  display:block;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.getelo a:hover{
  background: #FFAF42;
}
.getelo a:hover::after{
  border-top: solid 2px #FFAF42;
  border-right: solid 2px #FFAF42;
}

#userList {
  width: 500px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-color : #222222;
  border-right: none;
  border-left: none;
  border-bottom: none;
 }
 #userList th {
  padding: 5px;
  border-bottom: solid 4px #1B73BA;
  border-right: none;
  border-left: none;
  color: white;
 }
 #userList td {
  padding: 5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #222222;
 }

 .acd-check{
  display: none;
}
.acd-label{
  background: #333;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}
.acd-content{
  border: 1px solid #333;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
  font-size: small;
}
.acd-check:checked + .acd-label + .acd-content{
  height: auto;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}


button, input, select, textarea, pre, th, td, li, dt, dd {
  font-family: inherit;
}



.inputtxt {
	position: relative;
	width: 100%;
	margin: 2px;
}
.inputtxt input[type='text'] {
	font: 16px/20px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 2em;
}
.inputtxt input[type='text']:focus {
	outline: none;
}

.inputtxt input[type='tel'] {
	font: 16px/20px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 0em;
  text-align: center;
}
.inputtxt input[type='tel']:focus {
	outline: none;
}

.inputform {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
  color: white;
}
.inputform ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}
.inputform:focus ~ .focus_line,
.inputtxt.inputform ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
